{% include 'header.html' %}
{% include 'menu_bar.html' %}
{% block body %}

<div class="content">
    <div class="container">
        <br class="row">
        <br/>
        <center>
            <table>
                <tr>
                    <td colspan="2"><a href="/tickets">
                        Show All Tickets
                    </a></td>
                </tr>
                <tr>
                    <td colspan="2"> or </td>
                </tr>
                <form method="post" action="/ticket">

                    <tr>
                        <td colspan="2">Enter Ticket ID</td>
                    </tr>
                    <tr>
                        <td style="padding: 10px;"><input type='text' name='ticket_id'></td><td><input type="submit" value="View Ticket"></td>
                    </tr>
                </form>
            </table>
        </center>
    </div>
</div>


{% endblock %}

{% include 'footer.html' %}