{% include 'header.html' %}
{% include 'menu_bar.html' %}
{% block body %}

<div class="content">
    <div class="container">
        <p>Select one option: </p>
        <br class="row">
        <a href="/tickets">
            <p>Show All Tickets</p>
        </a>
        <br/>
        <center>
        <form method="post" action="/ticket">
            <table>
                <tr>
                    <td>Ticket ID</td>
                </tr>
                <tr>
                    <td><input type='text' name='ticket_id'></td>
                </tr>
                <tr>
                    <td><input type="submit" value="View Ticket"></td>
                </tr>

            </table>
        </form>
            </center>
    </div>
</div>


{% endblock %}

{% include 'footer.html' %}